Repository source-academy/frontend, pull requests merged in 2018-05, with the labels that each got.

#27 Add "Stop" button
  src/components/IDE/Control.tsx
  src/components/IDE/__tests__/Control.tsx
  src/containers/IDE/ControlContainer.ts
  src/reducers/playground.ts
  src/reducers/states.ts
  src/sagas/index.ts
Labels: blocking

#22 Add Math obj, symbols NaN and Infinity
  src/actions/actionTypes.ts
  src/actions/playground.ts
  src/components/IDE/Control.tsx
  src/components/IDE/__tests__/Control.tsx
  src/components/IDE/__tests__/__snapshots__/Control.tsx.snap
  src/containers/IDE/ControlContainer.ts
  src/mocks/context.ts
  src/reducers/playground.ts
  src/reducers/states.ts
  src/sagas/index.ts
  src/slang/__tests__/__snapshots__/index.ts.snap
  src/slang/createContext.ts
  src/slang/interop.ts
  src/slang/parser.ts
  src/slang/syntaxTypes.ts
  src/slang/types.ts
Labels: blocking, bug, slang

#24 Fix typing for Binary, Unary, and Logical Expressions
  src/mocks/context.ts
  src/slang/interop.ts
  src/slang/interpreter.ts
  src/slang/utils/__tests__/rttc.ts
  src/slang/utils/rttc.ts
Labels: blocking, bug, slang

#30 Disallow unspecified operators
  src/slang/rules/index.ts
  src/slang/rules/noUnspecifiedOperator.ts
  src/slang/rules/strictEquality.ts
Labels: bug, slang

#70 Simplify menu
  src/components/device/Announcements.tsx
  src/components/device/Journal.tsx
  src/components/device/NavigationBar.tsx
  src/components/device/index.tsx
  src/containers/device/AnnouncementsContainer.ts
  src/containers/device/JournalContainer.ts
  src/styles/_navigationBar.scss
Labels: blocking
