Repository source-academy/frontend, pull requests merged in 2020-08, with the labels that each got.

#1419 Achievement: Dashboard UI Update
  src/commons/achievement/AchievementCard.tsx
  src/commons/achievement/AchievementFilter.tsx
  src/commons/achievement/AchievementOverview.tsx
  src/commons/achievement/AchievementTask.tsx
  src/commons/achievement/AchievementView.tsx
  src/commons/achievement/__tests__/AchievementFilter.tsx
  src/commons/achievement/__tests__/__snapshots__/AchievementFilter.tsx.snap
  src/commons/achievement/__tests__/__snapshots__/AchievementView.tsx.snap
  src/commons/achievement/control/editorTools/EditableAchievementCard.tsx
  src/commons/achievement/utils/AchievementExp.tsx
  src/commons/achievement/utils/AchievementInferencer.ts
  src/commons/achievement/utils/DateHelper.ts
  src/commons/achievement/utils/__tests__/AchievementExp.tsx
  src/commons/achievement/utils/__tests__/__snapshots__/AchievementExp.tsx.snap
  src/commons/achievement/view/AchievementViewGoal.tsx
  src/features/achievement/AchievementConstants.ts
  src/pages/achievement/subcomponents/AchievementDashboard.tsx
  src/styles/_achievementcontrol.scss
  src/styles/_achievementdashboard.scss
Labels: achievement

#1426 Game Patch v.1.2.2
  public/assets/alien_and_cows.png
  public/assets/alien_league.png
  public/assets/mockChapter0.1.txt
  public/assets/mockChapter0.txt
  public/assets/zekton.png
  public/assets/zekton_dark.png
  src/features/game/SourceAcademyGame.ts
  src/features/game/action/GameActionExecuter.ts
  src/features/game/action/GameActionTypes.ts
  src/features/game/assets/FontAssets.ts
  src/features/game/assets/ImageAssets.ts
  src/features/game/awards/GameAwardsConstants.ts
  src/features/game/commons/CommonBackButton.ts
  src/features/game/commons/CommonConstants.ts
  src/features/game/commons/CommonTypes.ts
  src/features/game/dialogue/GameDialogueConstants.ts
  src/features/game/effects/GlowingObject.ts
  src/features/game/effects/MiniMessage.ts
  src/features/game/effects/Notification.ts
  src/features/game/escape/GameEscapeConstants.ts
  src/features/game/mode/menu/GameModeMenuConstants.ts
  src/features/game/mode/move/GameModeMove.ts
  src/features/game/mode/move/GameModeMoveConstants.ts
  src/features/game/mode/talk/GameModeTalkConstants.ts
  src/features/game/parser/ActionParser.ts
  src/features/game/parser/ParserConverter.ts
  src/features/game/phase/GamePhaseManager.ts
  src/features/game/save/GameSaveRequests.ts
  src/features/game/scenes/awardsHall/AwardsHallConstants.ts
  src/features/game/scenes/bindings/BindingsConstants.ts
  src/features/game/scenes/chapterSelect/ChapterSelect.ts
  src/features/game/scenes/chapterSelect/ChapterSelectConstants.ts
  src/features/game/scenes/checkpointTransition/CheckpointTransitionConstants.ts
  src/features/game/scenes/gameManager/GameGlobalAPI.ts
  src/features/game/scenes/mainMenu/MainMenu.ts
  src/features/game/scenes/mainMenu/MainMenuConstants.ts
  src/features/game/scenes/roomPreview/RoomPreview.ts
  src/features/game/scenes/roomPreview/RoomPreviewConstants.ts
  src/features/game/scenes/roomPreview/RoomPreviewHelper.ts
  src/features/game/scenes/settings/SettingsConstants.ts
  src/features/game/sound/GameSoundManager.ts
  src/features/game/state/GameStateConstants.ts
  src/features/game/state/GameStateManager.ts
  src/features/game/utils/TextUtils.ts
  src/features/storySimulator/assets/ImageAssets.ts
  src/features/storySimulator/logger/SSLogConstants.ts
  src/features/storySimulator/scenes/mainMenu/MainMenuConstants.ts
  src/pages/academy/game/Game.tsx
  src/pages/academy/storySimulator/subcomponents/storySimulatorGame.ts
Labels: game

#1415 Parse program for every breakpoint
  src/commons/sagas/WorkspaceSaga.ts
Labels: Bug

#1437 Achievement: Goal System Rework
  src/commons/achievement/AchievementCard.tsx
  src/commons/achievement/AchievementOverview.tsx
  src/commons/achievement/AchievementView.tsx
  src/commons/achievement/__tests__/AchievementView.tsx
  src/commons/achievement/__tests__/__snapshots__/AchievementView.tsx.snap
  src/commons/achievement/control/__tests__/AchievementEditor.tsx
  src/commons/achievement/control/__tests__/__snapshots__/AchievementEditor.tsx.snap
  src/commons/achievement/control/controlPanelTools/__tests__/AchievementControlPanelTools.tsx
  src/commons/achievement/control/controlPanelTools/controlPanelUtils/__tests__/PrerequisiteAdder.tsx
  src/commons/achievement/control/controlPanelTools/controlPanelUtils/__tests__/PrerequisiteDeleter.tsx
  src/commons/achievement/control/controlPanelTools/controlPanelUtils/__tests__/PrerequisitePositionEditor.tsx
  src/commons/achievement/control/controlPanelTools/controlPanelUtils/__tests__/PrerequisiteSwapper.tsx
  src/commons/achievement/control/controlPanelTools/controlPanelUtils/__tests__/TaskAdder.tsx
  src/commons/achievement/control/controlPanelTools/controlPanelUtils/__tests__/TaskDeleter.tsx
  src/commons/achievement/control/controlPanelTools/controlPanelUtils/__tests__/TaskPositionInserter.tsx
  src/commons/achievement/control/editorTools/AchievementTemplate.tsx
  src/commons/achievement/control/editorTools/EditableAchievementCard.tsx
  src/commons/achievement/control/editorTools/__tests__/EditableAchievementCard.tsx
  src/commons/achievement/control/editorTools/__tests__/__snapshots__/EditableAchievementCard.tsx.snap
  src/commons/achievement/control/editorTools/editableUtils/EditableAchievementAbility.tsx
  src/commons/achievement/control/editorTools/editableUtils/__tests__/AchievementAdder.tsx
  src/commons/achievement/control/editorTools/editableUtils/goals/EditableAchievementGoal.tsx
  src/commons/achievement/control/editorTools/editableUtils/goals/EditableAchievementGoals.tsx
  src/commons/achievement/control/editorTools/editableUtils/goals/__tests__/EditableAchievementGoal.tsx
  src/commons/achievement/control/editorTools/editableUtils/goals/__tests__/EditableAchievementGoals.tsx
  src/commons/achievement/control/editorTools/editableUtils/goals/__tests__/__snapshots__/EditableAchievementGoal.tsx.snap
  src/commons/achievement/control/editorTools/editableUtils/goals/__tests__/__snapshots__/EditableAchievementGoals.tsx.snap
  src/commons/achievement/control/editorTools/editableView/EditableAchievementView.tsx
  src/commons/achievement/utils/AchievementDeadline.tsx
  src/commons/achievement/utils/AchievementExp.tsx
  src/commons/achievement/utils/AchievementInferencer.ts
  src/commons/achievement/utils/DateHelper.ts
  src/commons/achievement/utils/__tests__/AchievementDeadline.tsx
  src/commons/achievement/utils/__tests__/AchievementExp.tsx
  src/commons/achievement/utils/__tests__/Inferencer.test.ts
  src/commons/achievement/utils/__tests__/__snapshots__/AchievementDeadline.tsx.snap
  src/commons/achievement/utils/__tests__/__snapshots__/AchievementExp.tsx.snap
  src/commons/achievement/view/AchievementViewGoal.tsx
  src/commons/application/ApplicationTypes.ts
  src/commons/mocks/AchievementMocks.ts
  src/commons/mocks/StoreMocks.ts
  src/commons/sagas/AchievementSaga.ts
  src/commons/sagas/RequestsSaga.ts
  src/features/achievement/AchievementActions.ts
  src/features/achievement/AchievementConstants.ts
  src/features/achievement/AchievementReducer.ts
  src/features/achievement/AchievementTypes.ts
  src/features/achievement/__tests__/AchievementActions.ts
  src/features/achievement/__tests__/AchievementReducer.ts
  src/features/game/state/GameUserStateManager.ts
  src/pages/achievement/control/AchievementControlContainer.ts
  src/pages/achievement/subcomponents/AchievementDashboardContainer.ts
  src/styles/_achievementdashboard.scss
  yarn.lock
Labels: _infrastructure, achievement

#1436 Game Patch v.1.2.3
  public/assets/mockChapter0.txt
  public/assets/mockRoomPreviewMapping.txt
  src/features/game/SourceAcademyGame.ts
  src/features/game/action/GameActionExecuter.ts
  src/features/game/action/GameActionTypes.ts
  src/features/game/assets/TextAssets.ts
  src/features/game/dialogue/GameDialogueManager.ts
  src/features/game/effects/FlyEffect.ts
  src/features/game/effects/MiniMessage.ts
  src/features/game/effects/Prompt.ts
  src/features/game/parser/ActionParser.ts
  src/features/game/parser/ParserConverter.ts
  src/features/game/parser/RoomPreviewParser.ts
  src/features/game/save/GameSaveHelper.ts
  src/features/game/save/GameSaveManager.ts
  src/features/game/save/GameSaveRequests.ts
  src/features/game/save/GameSaveTypes.ts
  src/features/game/scenes/chapterSelect/ChapterSelectConstants.ts
  src/features/game/scenes/chapterSelect/ChapterSelectHelper.ts
  src/features/game/scenes/checkpointTransition/CheckpointTransition.ts
  src/features/game/scenes/entry/Entry.ts
  src/features/game/scenes/gameManager/GameGlobalAPI.ts
  src/features/game/scenes/gameManager/GameManager.ts
  src/features/game/scenes/roomPreview/RoomPreview.ts
  src/features/game/scenes/roomPreview/RoomPreviewConstants.ts
  src/features/game/scenes/roomPreview/RoomPreviewHelper.ts
  src/features/game/scenes/settings/SettingsConstants.ts
  src/features/game/state/GameStateManager.ts
  src/features/game/state/GameUserStateManager.ts
  src/features/game/utils/TxtLoaderUtils.ts
  src/features/storySimulator/background/SSBackgroundManager.ts
  src/features/storySimulator/boundingBoxes/SSBBoxManager.ts
  src/features/storySimulator/cursorMode/SSCursorMode.ts
  src/features/storySimulator/logger/SSLogManager.ts
  src/features/storySimulator/objects/SSObjectManager.ts
  src/features/storySimulator/transform/SSTransformManager.ts
  src/pages/academy/game/Game.tsx
  src/pages/academy/storySimulator/StorySimulator.tsx
  src/pages/academy/storySimulator/subcomponents/StorySimulatorAssetSelection.tsx
  src/pages/academy/storySimulator/subcomponents/StorySimulatorAssetViewer.tsx
Labels: Bug, game

#1447 Achievement: Refactor (Part 1)
  src/commons/achievement/AchievementFilter.tsx
  src/commons/achievement/AchievementTask.tsx
  src/commons/achievement/AchievementView.tsx
  src/commons/achievement/__tests__/AchievementFilter.tsx
  src/commons/achievement/__tests__/AchievementView.tsx
  src/commons/achievement/__tests__/__snapshots__/AchievementFilter.tsx.snap
  src/commons/achievement/__tests__/__snapshots__/AchievementView.tsx.snap
  src/commons/achievement/control/AchievementEditor.tsx
  src/commons/achievement/control/AchievementPreview.tsx
  src/commons/achievement/control/ControlPanel.tsx
  src/commons/achievement/control/GoalEditor.tsx
  src/commons/achievement/control/__tests__/__snapshots__/AchievementEditor.tsx.snap
  src/commons/achievement/control/controlPanelTools/AchievementControlPanelTools.tsx
  src/commons/achievement/control/controlPanelTools/EditableAchievementTask.tsx
  src/commons/achievement/control/controlPanelTools/__tests__/__snapshots__/AchievementControlPanelTools.tsx.snap
  src/commons/achievement/utils/AchievementCard.tsx
  src/commons/achievement/utils/AchievementExp.tsx
  src/commons/achievement/utils/AchievementInferencer.ts
  src/commons/achievement/utils/AchievementLevel.tsx
  src/commons/achievement/utils/AchievementMilestone.tsx
  src/commons/achievement/utils/__tests__/Inferencer.test.ts
  src/commons/achievement/view/AchievementViewGoal.tsx
  src/commons/mocks/AchievementMocks.ts
  src/commons/sagas/AchievementSaga.ts
  src/commons/sagas/RequestsSaga.ts
  src/features/achievement/AchievementActions.ts
  src/features/achievement/AchievementConstants.ts
  src/pages/achievement/control/AchievementControl.tsx
  src/pages/achievement/control/AchievementControlContainer.ts
  src/pages/achievement/subcomponents/AchievementDashboard.tsx
  src/pages/achievement/subcomponents/AchievementDashboardContainer.ts
  src/styles/_achievementcontrol.scss
  src/styles/_achievementdashboard.scss
Labels: Enhancement, _refactor, achievement

#1336 Refactor Ground Control and default Source sublanguage feature
  src/commons/application/ApplicationTypes.ts
  src/commons/application/types/ChapterTypes.ts
  src/commons/controlBar/ControlBarChapterSelect.tsx
  src/commons/editingWorkspaceSideContent/EditingWorkspaceSideContentDeploymentTab.tsx
  src/commons/sagas/BackendSaga.ts
  src/commons/sagas/RequestsSaga.ts
  src/commons/sagas/WorkspaceSaga.ts
  src/commons/sagas/__tests__/BackendSaga.ts
  src/commons/sideContent/SideContentAutograder.tsx
  src/commons/sideContent/__tests__/__snapshots__/SideContentAutograder.tsx.snap
  src/commons/workspace/WorkspaceActions.ts
  src/commons/workspace/WorkspaceReducer.ts
  src/commons/workspace/WorkspaceTypes.ts
  src/commons/workspace/__tests__/WorkspaceActions.ts
  src/features/groundControl/GroundControlTypes.ts
  src/pages/academy/dashboard/Dashboard.tsx
  src/pages/academy/grading/Grading.tsx
  src/pages/academy/groundControl/GroundControl.tsx
  src/pages/academy/groundControl/GroundControlContainer.ts
  src/pages/academy/groundControl/subcomponents/DefaultChapterSelect.tsx
  src/pages/academy/groundControl/subcomponents/DefaultChapterSelectContainer.ts
  src/pages/academy/groundControl/subcomponents/GroundControlDeleteCell.tsx
  src/pages/academy/groundControl/subcomponents/GroundControlDropzone.tsx
  src/pages/academy/groundControl/subcomponents/GroundControlEditCell.tsx
  src/pages/academy/groundControl/subcomponents/GroundControlPublishCell.tsx
  src/pages/academy/subcomponents/AcademyDefaultChapter.tsx
  src/pages/academy/subcomponents/AcademyDefaultChapterContainer.ts
  src/pages/academy/subcomponents/AcademyNavigationBar.tsx
  src/pages/academy/subcomponents/__tests__/__snapshots__/AcademyNavigationBar.tsx.snap
  src/pages/playground/Playground.tsx
  src/pages/playground/PlaygroundContainer.ts
  src/pages/playground/__tests__/Playground.tsx
  src/styles/_academy.scss
  src/styles/_groundcontrol.scss
  src/styles/_sourcecast.scss
Labels: _refactor

#1454 Game Patch v1.2.4
  public/assets/mockChapter0.txt
  src/features/game/SourceAcademyGame.ts
  src/features/game/assets/ImageAssets.ts
  src/features/game/character/GameCharacterConstants.ts
  src/features/game/character/GameCharacterManager.ts
  src/features/game/character/GameCharacterTypes.ts
  src/features/game/parser/CharacterParser.ts
  src/features/game/scenes/bindings/Bindings.ts
  src/features/game/scenes/chapterSelect/ChapterSelect.ts
  src/features/game/scenes/mainMenu/MainMenu.ts
  src/features/game/scenes/mainMenu/MainMenuConstants.ts
  src/features/game/scenes/settings/Settings.ts
  src/pages/academy/game/Game.tsx
Labels: _work in progress, game

#1455 Game Patch v.1.2.5
  public/assets/mockChapter0.txt
  src/features/game/assets/SoundAssets.ts
  src/features/game/commons/CommonTypes.ts
  src/features/game/effects/Glitch.ts
  src/features/game/effects/WorkerMessage.ts
  src/features/game/mode/explore/GameModeExplore.ts
  src/features/game/scenes/awardsHall/AwardsHall.ts
  src/features/game/scenes/chapterSelect/ChapterSelectHelper.ts
  src/features/game/scenes/mainMenu/MainMenu.ts
Labels: game

#1470 Game Patch v1.2.6
  src/features/game/dialogue/GameDialogueRenderer.ts
  src/features/game/effects/Typewriter.ts
  src/features/game/scenes/roomPreview/RoomPreview.ts
Labels: game
